<div style="margin-top:-105px">

    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius:15px 0 0 15px; box-shadow:0 5px 5px 0 gray">
            <i class="bi-hdd-fill"></i>
            <h3>Back-end</h3>
            <p>
                trabajo desde el desarrlloo,pruebas automaticas y puesta en producin con entrega continias.
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET core , SQL Server.
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>Wep APIs</li>
                <li> ASP.NET core MVC</li>
                <li>Blazor</li>
                <li>Dapper</li>
                <li>sql server</li>
            </ul>

        </div>


        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow:0 5px 5px 0 gray">
             <i class="bi-code-slash"></i>
            <h3>From-End</h3>

            <p>
                puedo crear front-ends robustos los cuales cumplen con los requisitos del negocio.
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                reac,angular,blazer.
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>React hooks</li>
                <li> Angular Material</li>
                <li>JQuery</li>
                <li>Pruebas atomaticas</li>
                <li>Markdown</li>
            </ul>

        </div>
    </div>
</div>